
.Header {

  margin: 1rem;
  border: 1px solid #239a7a;
  //box-shadow: #239a7a;


}

.Body {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #239a7a;
}

.LeftBody {
  justify-content: center;
}
.MidBody {
  justify-content: center;
  width: 100%;
}

.RightBody {
  justify-content: center;
}
.BottomBody {
  justify-content: center;
  margin: 1rem;
//  border: 1px solid #239a7a;
}
